<ion-content #content style="display: none">
    <div #canvasContainer class="ion-text-center canvasContainer">
        <canvas #canvas style="border-radius: 10px; width: auto; height: auto; border: #7f3f97 solid 5px"></canvas>
    </div>
 </ion-content>
<div *ngIf="mobileAccess" style="background-color: #1de0b6; min-height: 100vh">
    <ion-card style="max-height: 90vh">
        <a href="http://www.play-with-valentine.com">
            <img src="../../assets/fly-valentine-fly.png" style="max-height: 20vh"/>
        </a>
        <ion-card-header>
            <ion-card-subtitle style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
">Kein Zugriff am Smartphone</ion-card-subtitle>
            <ion-card-title style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
">Bitte komm am PC/Laptop zurück</ion-card-title>
        </ion-card-header>
        <ion-card-content style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;">
            Eine Mobile App wird bald entwickelt. Für Fragen, bitte einfach Anton kontaktieren:
            <a href="mailto:anton@play-with-valentine" style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
">Kontakt</a>
        </ion-card-content>
    </ion-card>
</div>
<div *ngIf="mobileAccess === false">
    <ion-header color="primary">
      <ion-toolbar>
      <ion-row>
        <ion-col size="3" class="ion-align-self-start;" style="vertical-align: center;   margin-top: 15px;">
            <a href="http://www.play-with-valentine.com"><span class="main-headline" style="font-size: xx-large; margin-left: 10px; align-items: center"><b>Flieg Valentin Flieg</b></span></a>
        </ion-col>
      <ion-col size="6" class="ion-align-self-center;" style="vertical-align: center; align-items: center; text-align: center; margin-top: 15px;">
          <audio controls style="border: #6a6a6f 5px solid; border-radius: 50px;">
              <source src="../../assets/bensound-buddy.mp3" type="audio/mp3">
          </audio>
          <span style="vertical-align: center"> Musik:
              <a href="www.bensound.com">www.bensound.com</a>
          </span>
      </ion-col>
        <ion-col size="3" class="ion-align-self-end">
            <button class="button-introduction" *ngIf="showRulesToggle === false" (click)="showRules()" color="dark" style="float: right;"><b>?</b>👇🏻</button>
            <button class="button-introduction" *ngIf="showRulesToggle" (click)="showRules()" color="dark" style="float: right;"><b>?</b>☝🏻</button>
            <button class="button-leaderboard" (click)="showLeaderboard()" color="dark"><ion-icon src="../../assets/trophy.svg" style="min-height: 50px; color: #414141"></ion-icon></button>
        </ion-col>
      </ion-row>
        <div *ngIf="showRulesToggle" class="rules">
            <ion-row style="border-radius: 3px; border: #6e6e70 5px solid; margin: 5px; padding: 30px; background-color: white; min-height: 150px">
                <span style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; font-size: xx-large; text-align: center; margin-left: 20px; padding-left: 20px;min-width: 100%"><b>Regeln:</b><br><br>Hebe deine Arme, wenn das Objekt nach dem es fliegt, es fliegt ... unten eingeblendet fliegen kann und lass die Arme unten, wenn es nicht fliegen kann. So sammelst Punkte. Bei 6 Punkten hast du gewonnen!</span>
                <span style="color: indianred; text-align: center; min-width: 100%; font-size: xx-large"><b> Achtung:</b> Achte darauf, dass deine Arme und Kopf immer im Bild sind.</span>
            </ion-row>
            <ion-row style="max-height: 20vh">
                <ion-col size="5" offset="1" style="border-radius: 3px; border: #6e6e70 5px solid; margin: 5px">
                    <ion-item style="margin: 10px">
                        <p style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
">Anzahl der Punkte bis Gewinn: </p>
                        <ion-input style="font-size: xx-large; max-width: 50px; font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; margin-left: 5px" type="number" [(ngModel)]="pointsToReach" placeholder="4" name="pointsToReach"></ion-input>
                    </ion-item>
                    <span style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; font-size: medium; text-align: center; margin-left: 20px; padding-left: 20px; float: right"> <b>Hinweis: </b>Umso mehr Punkte du erreichst, umso mehr Punkte erhälts du!
                   </span>
                </ion-col>
                <ion-col size="5"  style="border-radius: 3px; border: #6e6e70 5px solid; margin: 5px">
                    <ion-item style="margin: 10px">
                        <span style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; font-size: medium; text-align: center;">Schnell</span><ion-range ticks="true" [(ngModel)]="pace" color="dark" min="1" max="4" step="1" snaps="true"></ion-range>
                        <ion-icon  slot="start" src="../../assets/speedometer.svg"></ion-icon>
                        <ion-icon size="small" slot="end" src="../../assets/speedometer.svg"></ion-icon>
                        <span style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; font-size: medium; text-align: center;">Langsam</span><br>
                    </ion-item>
                    <span style="font-size: medium; text-align: center; margin-left: 20px; padding-left: 20px; float: right"> <b>Hinweis: </b>Umso schneller das Spiel, umso mehr Punkte erhältst du!
                    </span>
                </ion-col>
            </ion-row>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-grid style="max-height: 170px">
      <ion-row style="margin-top: -25px">
        <ion-col size="4" class="ion-align-self-start">
          <p style="position: center; font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; padding: 5px; color: #414141; padding-top: 15px; text-align: center; vertical-align: center; min-height: 70px; font-size: xx-large">{{points}} / {{pointsToReach}} Punkte</p>
        </ion-col>
          <ion-col *ngIf="running === false" size="4" class="ion-align-self-center" style="align-content: center; text-align: center;">
              <button class="button-start-game"  (click)="play()">Spiel starten!</button>
          </ion-col>
          <ion-col size="4" *ngIf="running === true" class="ion-align-self-center">
              <p class="result" *ngIf="result === 'Richtig 😊'" style="position: center;  font-size: xx-large; margin: 10px; padding: 5px;  background-color: lightgreen; border-radius: 7px; text-align: center; align-items: center; border: 5px solid #414141;">{{result}}</p>
              <p class="result" *ngIf="result === 'Falsch 😔'" style="position: center; font-size: xx-large; margin: 10px; padding: 5px;  background-color: lightcoral; border-radius: 7px; text-align: center;border: 5px solid #414141;">{{result}}</p>
              <p class="result" *ngIf="result === 'Gratulation - Du hast gewonnen!! 🥳'" style="position: center; font-size: xx-large; margin: 10px; padding: 5px; background-color: #1de0b6; border-radius: 7px; text-align: center;border: 5px solid #414141;">{{result}}</p>
              <p class="countdown" *ngIf="showCountdown" style="font-size: xxx-large; text-align: center; align-items: center; margin-top: 30px; background-color: #1de0b6; border-radius: 5px; color: white;border: 5px solid #414141;">{{counterCountdown}}</p>
              <p></p>
          </ion-col>
        <ion-col size="4"  class="ion-align-self-end" style="font-size: xx-large;">
          <p *ngIf="handsUp" style="font-size: xx-large; margin-bottom: 32px;  padding: 10px;  min-height: 69px;max-height: 70px; text-align: center; color: #414141"> {{handsUpInSeconds}} / {{pace}} Sekunden</p>
          <p *ngIf="handsDown" style="font-size: xx-large; margin-bottom: 32px; padding: 10px;  min-height: 69px;max-height: 70px; text-align: center; color: #414141"> {{handsDownInSeconds}} / {{pace}} Sekunden</p>
          <p *ngIf="handsDown === 0 && handsUp === 0" style="font-size: xx-large; margin-bottom: 32px; padding: 10px; min-height: 69px;max-height: 70px; text-align: center; color: #414141"> 0 / {{pace}} Sekunden</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-content #content2 align="center" style="min-height: 80vh">
        <ion-row style="margin-top: 25px">
            <ion-col size="4">
              <div *ngIf="gameFinished === false" #canvasContainer2 class="ion-text-start canvasContainer2" >
                  <video autoplay="true" id="videoElement" style="border-radius: 10px; max-width: 20vw; border: #6a6a6f solid 5px; background-position: center; background-repeat: no-repeat; background-image: url('https://res.cloudinary.com/dybehptfr/image/upload/v1611849780/44285345_xl_yiq6ix.jpg');"></video>
              </div>
            </ion-col>
            <ion-col size="4" offset="4" class="ion-text-end" style="align-items: center">
                <div *ngIf="handsUp > 0" style="border-radius: 10px; width: 380px; max-width: 20vw; height: 280px; border: #6a6a6f solid 5px; background-position: center; background-color: white; background-size: contain; background-repeat: no-repeat; background-image: url('https://res.cloudinary.com/dybehptfr/image/upload/v1611846194/man-hands-up_yi04kp.png');"></div>
                <div *ngIf="handsDown > 0" style="border-radius: 10px; width: 380px;  max-width: 20vw;height: 280px; border: #6a6a6f solid 5px;  background-position: center; background-color: white; background-size: contain; background-repeat: no-repeat; background-image: url('https://res.cloudinary.com/dybehptfr/image/upload/v1611847295/man-hands-down_Kopie_uu8ojy.png');"></div>
                <div *ngIf="handsDown === 0 && handsUp === 0" style="border-radius: 10px; width: 380px;  max-width: 20vw; height: 280px; border: #6a6a6f solid 5px;  background-position: center; background-color: white; background-size: cover; background-repeat: no-repeat;"></div>
            </ion-col>
        </ion-row>
        <ion-row class="house-row">
            <img class="bird-house" src="https://res.cloudinary.com/dybehptfr/image/upload/v1611851685/only-birdhouse-bubble_jw9dnk.png" style="position: absolute; ">
        </ion-row>
        <ion-row>
        <ion-col size="12" class="ion-align-self-center">
            <p class="bird-bubble-text" style="position: center; z-index: 5; padding: 5px; vertical-align: center; min-height: 70px; text-align: center;">Es fliegt, es fliegt ein/e: <span class="object-word"><b>{{text}}</b></span></p>
            <img *ngIf="gameFinished === false" class="object-bird-house" src='{{ "../../assets/" + text + ".png" }}' style="position: absolute;" [style.animation]="running === true ? 'myfirst 4s linear 2s infinite alternate' : 'none'">
        </ion-col>
        </ion-row>
        <ion-row *ngIf="gameFinished === true" style="background-color: #1de0b6; border-radius: 10px; border: 5px solid gray">
          <ion-col size="8" offset="4">
            <form (ngSubmit)="submitScore()" style="width: 50%; text-align: center; align-items: center">
                <ion-label class="points-result" style="font-size: xx-large; font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color: white">{{scoreToDisplay}} Punkte</ion-label>
                <ion-item style="border-radius: 50px; border: #6a6a6f 5px solid; ">
                    <ion-label style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;">Name: </ion-label>
                    <ion-input style=" font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;" type="text" [(ngModel)]="score.name" placeholder="Valentin Mustermann" name="name"></ion-input>
                </ion-item>
                <ion-item style="border-radius: 50px; border: #6a6a6f 5px solid;" >
                    <ion-label style=" font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;">Alter in Jahren: </ion-label>
                    <ion-input style=" font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;" type="text" [(ngModel)]="score.age" placeholder="4" name="age"></ion-input>
                </ion-item>
                <button type="submit" style="padding: 20px; margin: 10px; border-radius: 5px; background-color: white; font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; font-size: x-large; color: gray; border: #6a6a6f 5px solid" (click)="forwardToLeaderboard()">Ergebnis teilen</button>
            </form>
          </ion-col>
        </ion-row>
    </ion-content>
</div>
