<ion-header>
  <ion-toolbar>
    <ion-title>Posenet</ion-title>
    <div *ngIf="showInstructions">
      <p>{{text}}</p>
    </div>

    <div *ngIf="showResult">
      <p>{{result}}</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div #canvasContainer class="ion-text-center canvasContainer">
    <canvas #canvas></canvas>
  </div>
</ion-content>



<ion-content #content2 style="display: none">
  <div #canvasContainer2 class="ion-text-center canvasContainer2">
      <video autoplay="true" id="videoElement"></video>
      <canvas id="preview" width="160" height="120"></canvas>
  </div>
</ion-content>



