ion-footer {
  padding: 3px;
}

.canvasContainer {
  width: 100%;
  height: 60vh;
  margin-top: 20px;
}

.canvasContainer2 {
  width: 100%;
  margin-top: 20px;
}

.main-headline, .countdown, .result, .points-result {
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
}

p {
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

ion-toolbar {
  padding: 5px;
  vertical-align: center;
  min-height: 80px;
  --background: #1de0b6;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.button-start-game {
  border: #6a6a6f solid 5px;
  font-size: xx-large;
  margin-top: 40px;
  min-width: 30vw;
  min-height: 100px;
  border-radius: 50px;
  background-color: #1de0b6;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
}

a {
  text-decoration: none;
}

.button-introduction {
  border: #6a6a6f solid 5px;
  font-size: xx-large;
  border-radius: 80px;
  background-color: white;
  min-width: 80px;
  min-height: 80px;
  color: #6e6e70;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.button-start-game:hover {
  background-color: #15a88c;
  color: white;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.button-leaderboard:hover {
  background-color: lightgrey;
}

.button-introduction:hover {
  background-color: lightgrey;
}

.rules {
  padding: 10px;
  background-color: lightgrey;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  min-height: 50vh;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.button-leaderboard {
  float: right;
  border: #6a6a6f solid 5px;
  font-size: xx-large;
  border-radius: 80px;
  background-color: white;
  min-width: 80px;
  min-height: 80px;
  margin-right: 5px;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

#videoElement {
  background-size: cover;
  margin-left: 5vw;
  max-height: 270px;
  min-height: 269px;
}

ion-content {
  --background: linear-gradient(to bottom, white, #ffe54e) !important;
}

.bird-house {
   position: absolute;
    left: 0;
   right: 0;
   text-align: center;
   z-index: -1;
  margin: -20vh auto auto;
  max-width: 40vw;
  font-size: large;
}

@media (max-width: 2000px) {
  .bird-house {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
    margin: -17vh auto auto;
    max-width: 40vw;
    font-size: large;
  }
}

.bird-bubble-text {
  position: absolute;
  left: -22vw;
  right: 0;
  text-align: center;
  z-index: 1;
  margin: -9vh auto auto;
  max-width: 11vw;
}

.object-bird-house {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  margin: -3vh auto auto 50vw;
  max-height: 100px;
  max-width: 100px;
}

@media (max-width: 1400px) {
  .bird-bubble-text {
    position: absolute;
    left: -22vw;
    right: 0;
    text-align: center;
    z-index: 1;
    font-size: medium;
    margin: -11vh auto auto;
    max-width: 11vw;
  }

  .object-bird-house {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    margin: -5vh auto auto 50vw;
    max-height: 50px;
    max-width: 50px;
  }

}

