<ion-header color="primary">
  <ion-toolbar>
    <ion-title style="color: #7f3f97">Fly Valentine Fly</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item *ngIf="showInstructions">
  <ion-label>
    <p style="position: center; font-size: large">{{text}}</p>
  </ion-label>
</ion-item>
<ion-item *ngIf="showResult">
  <ion-label>
    <p style="position: center; font-size: large">{{result}}</p>
  </ion-label>
</ion-item>

<ion-content #content>
  <div #canvasContainer class="ion-text-center canvasContainer">
    <canvas #canvas style="border-radius: 10px; width: auto; height: auto; border: #7f3f97 solid 5px"></canvas>
    <ion-img src="../../assets/fly-valentine-fly.png" style="width: 100px; length: 100px; float: right; margin-right: 10%"></ion-img>
    <p style="font-size: large"><b>Regeln:</b><br> Hebe deine Arme, wenn das Object nach dem es fliegt, es fliegt ... oben eingeblendet fliegen kann <br> und lass die Arme unten, wenn es nicht fliegen kann. <br>So sammelst Punkte. <br> Bei 6 Punkten hast du gewonnen!</p>
  </div>
</ion-content>



<ion-content #content2 style="display: none">
  <div #canvasContainer2 class="ion-text-center canvasContainer2">
      <video autoplay="true" id="videoElement" style="border-radius: 10px; width: 700px; height: 700px;"></video>
      <canvas id="preview" width="160" height="120" style="border-radius: 10px; width: 700px; height: 700px;"></canvas>
  </div>
</ion-content>



